@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to Azure Devops session with unit test case on 5th Jan testing pipeline</a>.</p>
</div>
